{% extends "restaurantsReviews/base.html" %}

{% block content %}
    <h3>
        {{ restaurant.name }}
        {% if request.user == restaurant.user %}
            (<a href="{% url 'restaurantsReviews:restaurant_edit' restaurant.id %}">Edit Restaurant</a>)
        {% endif %}
    </h3>

    <h5 style="margin-left: 40px">Address</h5>
    <p style="margin-left: 60px">{{ restaurant.address }}</p>
    <h5 style="margin-left: 40px">Phone</h5>
    <p style="margin-left: 60px">{{ restaurant.phone }}</p>
    <h5 style="margin-left: 40px">Website</h5>
    {% if restaurant.url %}
        <a style="margin-left: 60px" href = {{ restaurant.url }}>{{ restaurant.url }}</a>
    {% else %}
        <p style="margin-left: 60px">This restaurant hasn't add website</p>
    {% endif %}

    <br>

    <h4>Menu
        {% if request.user.is_authenticated %}
            (<a href="{% url 'restaurantsReviews:dish_create' restaurant.id %}">Add Dish</a>)
        {% endif %}
    </h4>

    <ul>
        {% for dish in restaurant.dishes.all %}
            <li>
                <a href="{% url 'restaurantsReviews:dish_detail' restaurant.id dish.id %}">
                    {{ dish.name }}</a> - ${{ dish.price }}
            </li>
            {% empty %}<li>Sorry, the restaurant hasn't add any dish.</li>
        {% endfor %}

    </ul>

    <br>

    <h4>Comments</h4>
    {% if restaurant.review.all %}
        {% for review in restaurant.review.all %}
            <p>{{ review.rating }} Star, {{ review.user }} said, {{ review.date | date:"Y-m-d" }}</p>
            <p style="margin-left: 40px"> {{ review.comment }}</p>
        {% endfor %}
    {% else %}
        <p style="margin-left: 40px">There is no comment to this restaurant yet.</p>
    {% endif %}

    <h5>Add Comment</h5>
    {% if request.user.is_authenticated %}
        <form action="{% url 'restaurantsReviews:review_create' restaurant.id %}" method="post">
            {% csrf_token %}
                <textarea name="review" id="comment"></textarea>
            <p>Rating <br>
                {% for rate in RATING_CHOICE %}
                    <input type="radio" name="rating" id="rating{{ forloop.counter }}" value="{{ rate.0 }}" />
                    <label for="choice{{ forloop.counter }}">{{ rate.0 }} Star</label>
                    <br>
                {% endfor %}
            </p>
            <input type="submit" value="Submit"/>
        </form>
    {% endif %}
    </h4>

{% endblock %}